chromadb==1.0.15
ipython==9.2.0
langchain==0.3.26
langchain-community==0.3.27
langchain-core==0.3.69
ollama==0.5.2
pypdf==5.8.0
pytest==8.4.1
rank-bm25==0.2.2
scikit-learn==1.6.1
sentence-transformers==5.1.0
torch==2.8.0